Repository agribus/agribus, pull requests merged in 2025-09, with the labels that each got.

#150 Feature/Implémenter le graph
  apps/lychee_client/src/app/components/chart-dashboard/chart-dashboard.ts
  apps/lychee_client/src/app/interfaces/chart.interface.ts
  apps/lychee_client/src/app/pages/dashboard/dashboard.component.html
  apps/lychee_client/src/app/pages/dashboard/dashboard.component.ts
  apps/lychee_client/src/app/services/dashboard/dashboard.service.ts
Labels: ready-for-review, lychee

#141 feat: add crop + connection between form and greenhouse scene
  apps/lychee_client/public/i18n/de.json
  apps/lychee_client/public/i18n/en.json
  apps/lychee_client/public/i18n/fr.json
  apps/lychee_client/public/models/leaf.glb
  apps/lychee_client/public/models/lettuce.glb
  apps/lychee_client/public/models/onion.glb
  apps/lychee_client/public/models/potato.glb
  apps/lychee_client/public/models/strawberry.glb
  apps/lychee_client/public/models/tomato.glb
  apps/lychee_client/src/app/components/chart-dashboard/chart-dashboard.ts
  apps/lychee_client/src/app/components/greenhouse-scene/greenhouse-scene.component.ts
  apps/lychee_client/src/app/components/ui/header/header.component.ts
  apps/lychee_client/src/app/components/ui/navbar/navbar.component.html
  apps/lychee_client/src/app/components/ui/navbar/navbar.component.ts
  apps/lychee_client/src/app/interfaces/chart.interface.ts
  apps/lychee_client/src/app/interfaces/crop.interface.ts
  apps/lychee_client/src/app/interfaces/dashboard.interface.ts
  apps/lychee_client/src/app/pages/dashboard/dashboard.component.html
  apps/lychee_client/src/app/pages/dashboard/dashboard.component.ts
  apps/lychee_client/src/app/routes/main.routes.ts
  apps/lychee_client/src/app/services/crops/crops.service.ts
  apps/lychee_client/src/app/services/dashboard/dashboard.service.ts
  apps/lychee_client/src/app/services/greenhouse-scene/greenhouse-scene.service.ts
  apps/lychee_client/src/app/utils/crops-config/crops.config.ts
  apps/lychee_client/src/app/utils/vegetables-config/vegetables.config.ts
  apps/tomato_backend/src/Agribus.Application/GreenhouseUsecases/CreateGreenhouseUsecase.cs
  apps/tomato_backend/src/Agribus.Application/GreenhouseUsecases/UpdateGreenhouseUsecase.cs
  apps/tomato_backend/src/Agribus.Core/Domain/AggregatesModels/GreenhouseAggregates/Greenhouse.cs
  apps/tomato_backend/src/Agribus.Core/Ports/Api/GreenhouseUsecases/DTOs/UpdateCropDto.cs
  apps/tomato_backend/src/Agribus.Core/Ports/Api/GreenhouseUsecases/DTOs/UpdateGreenhouseDto.cs
  apps/tomato_backend/src/Agribus.Core/Ports/Spi/TrefleContext/ITrefleService.cs
  apps/tomato_backend/src/Agribus.Trefle/Services/TrefleService.cs
Labels: bug, enhancement, ready-for-review, lychee

#153 fix(influxdb): split queries by smaller windows
  apps/tomato_backend/src/Agribus.InfluxDB/Repositories/InfluxMeasurementStore.cs
Labels: bug, tomato

#156 feat(influx): optimize measurement queries with window splitting, par…
  apps/tomato_backend/src/Agribus.InfluxDB/Repositories/InfluxMeasurementStore.cs
Labels: ready-for-review, tomato

#157 fix(tomato): change air pressure from Pa to hPa
  apps/tomato_backend/src/Agribus.InfluxDB/Repositories/InfluxMeasurementStore.cs
Labels: bug

#158 fix background navbar
  apps/lychee_client/src/app/components/ui/navbar/navbar.component.scss
Labels: bug

#160 fix(settings): persist dark mode
  apps/lychee_client/src/app/pages/settings/settings.component.html
  apps/lychee_client/src/app/services/settings/settings.service.ts
Labels: bug, ready-for-review
